.main {
    display:flex;
    justify-content:space-around;
}

.block {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}